.config/qtile/.idea/*
.config/qtile/__pycache__/*
.config/qtile/themes/__pycache__/*


desktop/.config/qtile/.idea/*
desktop/.config/qtile/__pycache__/*
desktop/.config/qtile/themes/__pycache__/*

desktop/.config/polybar/oldconfs/
