[user]
    email = stautonico@gmail.com
	name = Steve Tautonico
    signingKey = DCE0805569239C5437C9C7056422E5D217FC628B
[gpg]
    program = gpg
[tag]
    forceSignAnnotated = true
[commit]
    gpgSign = true
[init]
    defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-number = true
    side-by-side = true


[merge]
    conflictstyle = diff3
	tool = vim

[diff]
    colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
